# A 股月度收益数据说明-CSMAR
Stkcd [证券代码] - 以上交所、深交所公布的证券代码为准
Trdmnt [交易月份] - 以YYYY-MM表示
Opndt [月开盘日期] - 月第一个交易日。以DD表示，为OPNPRC的所在日，“DD”＝本月无交易
Mopnprc [月开盘价] - 月第一个交易日的开盘价。
Clsdt [月收盘日期] - 月最后一个交易日。以DD表示，为CLSPRC的所在日，“DD”＝本月无交易
Mclsprc [月收盘价] - 月最后一个交易日的收盘价。
Mnshrtrd [月个股交易股数] - 月内该股票的交易数量。计算公式为：月开盘日期与交易日期期间内日成交量之和。
Mnvaltrd [月个股交易金额] - 月内该股票的交易金额。计算公式为：月开盘日期与交易日期期间内日成交额之和。A股以人民币元计，上海B以美元计，深圳B以港币计。
Msmvosd [月个股流通市值] - 个股的流通股数与月收盘价的乘积。计算公式为：个股的流通股数与月收盘价的乘积。 A股以人民币元计，上海B以美元计，深圳B以港币计，注意单位是千
Msmvttl [月个股总市值] - 个股的发行总股数与月收盘价的乘积。计算公式为：个股的发行总股数与月收盘价的乘积，A股以人民币元计，上海B股以美元计，深圳B股以港币计，注意单位是千
Ndaytrd [月交易天数] - 计算公式为：月内实际交易的天数之和。
Mretwd [考虑现金红利再投资的月个股回报率] - 字段说明见说明书“周、月、年个股回报率的计算方法”。
Mretnd [不考虑现金红利再投资的月个股回报率] - 字段说明见说明书“周、月、年个股回报率的计算方法”。
Markettype [市场类型] - 1=上证A股市场 (不包含科创板），2=上证B股市场，4=深证A股市场（不包含创业板），8=深证B股市场，16=创业板， 32=科创板，64=北证A股市场。
Capchgdt [最新股本变动日期] - 上市公司最近一次股本发生变化的日期
Ahshrtrd_M [月盘后成交总量] - 月科创板股票盘后总成交量。计算公式为：月开盘日期与交易日期期间内日盘后成交量之和。
Ahvaltrd_M [月盘后成交总额] - 月科创板股票盘后总成交额。计算公式为：月开盘日期与交易日期期间内日盘后成交额之和。

# 无风险利率数据说明-CSMAR
Nrr1 [无风险利率基准] - NRI01=定期-整存整取-一年利率
Clsdt [统计日期] - 统计截止日期，YYYY-MM-DD

Nrrdaydt [日度化无风险利率(%)] - 根据复利计算方法，将年度的无风险利率转化为日度数据。计算公式为：(POWER(1+Nrrdata/100,1/365)-1)*100
Nrrwkdt [周度化无风险利率(%)] - 根据复利计算方法，将年度的无风险利率转化为周度数据。计算公式为：(POWER(1+Nrrdata/100,1/52)-1)*100
Nrrmtdt [月度化无风险利率(%)] - 根据复利计算方法，将年度的无风险利率转化为月度数据。计算公式为：(POWER(1+Nrrdata/100,1/12)-1)*100

In [ ]:
# 处理股票数据时，月交易日不能少于 20（或 15），但是中国存在春节假期，因此假期月可以少一点交易日比如 12

# 数据处理步骤：
## 预处理
股票筛选？剔除 st，市值低于 30%，金融企业？导入数据后检查市值为负的股票并剔除，检查股价低于 5 元的仙股
**To ensure the quality of the data, we apply the following standard screening procedures used in previous studies. First, we exclude firms with negative book equity. Second, we exclude financial firms based on the CSRC industry classification. Third, we exclude firms marked as “ST” (special treatment) or “PT” (particular transfer) or that have any other abnormal trading status, as they could be distressed or illiquid because of additional restrictions on trading. Finally, we exclude penny stocks with share price below 5 yuan after forming quintiles but before calculating quintile returns because of microstructure concerns and the lack of trading activity. Our updated anomaly portfolios cover the period from January 2000 to December 2023.**
1. 导入月度市场收益、月度无风险收益、月度个股收益，无风险利率是一年定期存款利率，
2. 对月度个股收益进行筛选，保留 1,4,16,32
3. 将个股收益，市场收益，无风险收益按照日期和月份进行合并（可能存在日期格式转换问题）
4. 将个股月度收益进行滞后一期作为预期收益
5.

In [48]:
import numpy as np
import pandas as pd
import datetime as dt
import os
import statsmodels.formula.api as smf
from scipy.stats import pearsonr
from scipy.stats import spearmanr
import matplotlib.pyplot as plt
import statsmodels.api as sm
from scipy.stats.mstats import winsorize

In [32]:
os.chdir(r'/Users/mac/Desktop/Asset Pricing/A shares market/beta')
mon_ret = pd.read_csv(os.path.join('TRD_Mnth.csv')) #月度个股收益
daily_ret = pd.read_csv(os.path.join('daily_data.csv')) #日度个股收益
mon_mkt =  pd.read_csv(os.path.join('TRD_Cnmont.csv')) #月度市场收益
daily_mkt = pd.read_csv(os.path.join('TRD_Cnmont.csv')) #日度市场收益
rf = pd.read_csv(os.path.join('TRD_Nrrate.csv')) #无风险利率
#mktcap = pd.read_csv(os.path.join('中国市场','fivefactor_daily.csv'))

In [33]:
def get_month(table,key):
    table[key] = pd.to_datetime(table[key], format = '%Y-%m')
    table['year'] = table[key].dt.year
    table['month'] = table[key].dt.month
    return table

def get_month2(table,key):
    table[key] = pd.to_datetime(table[key],format = '%Y-%m-%d')
    table['year'] = table[key].dt.year
    table['month'] = table[key].dt.month
    return table

In [35]:
# 先计算 mkt-rf ，将 rf 与 mkt 按时间对应计算，可能存在时间格式问题，并且市场收益的数据要筛选出 53 代码，市场收益选择的是流通市值加权法
# 3个月期存款基准利率找不到，使用 1 年期存款基准
#筛选出市场收益中 53 代码的收益
mon_mkt = mon_mkt[mon_mkt['Markettype'] == 53]

# mon_mkt['Trdmnt'] = pd.to_datetime(mkt['Trdmnt'], format='%Y-%m')
# rf['Clsdt'] = pd.to_datetime(rf['Clsdt'], format='%Y-%m-%d')

get_month2(rf,'Clsdt')
get_month(mon_mkt,'Trdmnt')

# mon_mkt['year'] = mkt['Trdmnt'].dt.year
# mon_mkt['month'] = mkt['Trdmnt'].dt.month

# 转换 'Clsdt' 列为日期时间格式


# 提取年份和月份

# rf['year'] = rf['Clsdt'].dt.year
# rf['month'] = rf['Clsdt'].dt.month

# 分组并去除重复的 Nrrmtdt 值，保留唯一的行
mon_rf = rf.drop_duplicates(subset=['year', 'month', 'Nrrmtdt'])

# 使用年份和月份进行合并
mon_mkt_rf = pd.merge(mon_mkt, mon_rf, on=['year', 'month'], how='inner')

#计算 mkt-rf
mon_mkt_rf['mkt_rf'] = mon_mkt_rf['Cmretmdos'] - mon_mkt_rf['Nrrmtdt']/100 #央财因子无风险使用的是一年期存款基准计算，其中 CSMAR无风险收益给出的是百分数而不是小数，因此计算是需要/100 与市场收益进行匹配
#北大因子：replication使用的是三月定期，论文说是遵循以前的中国市场研究惯例

#修改清晰的列名便于理解
mon_mkt_rf = mon_mkt_rf.rename(columns={'Nrrmtdt': 'rf'})

mon_mkt_rf.head(10)

,Markettype,Trdmnt,Cmretwdeq,Cmretmdeq,Cmretwdos,Cmretmdos,Cmretwdtl,Cmretmdtl,Cmnstkcal,Cmmvosd,Cmmvttl,year,month,Nrr1,Clsdt,Nrrdata,Nrrdaydt,Nrrwkdt,rf,mkt_rf
0,53,1990-12-01,NaN,NaN,NaN,NaN,NaN,NaN,6,624165.96,2082551.36,1990,12,NRI01,1990-12-19,8.64,0.0227,0.1595,0.6930,NaN
1,53,1991-01-01,0.036554,0.036554,0.029998,0.029998,0.040097,0.040097,10,1931395.00,4570745.48,1991,1,NRI01,1991-01-01,8.64,0.0227,0.1595,0.6930,0.023068
2,53,1991-02-01,0.021860,0.021860,0.010203,0.010203,0.006360,0.006360,10,1819733.74,4412147.41,1991,2,NRI01,1991-02-01,8.64,0.0227,0.1595,0.6930,0.003273
3,53,1991-03-01,-0.060425,-0.059840,-0.099663,-0.098917,-0.088522,-0.088183,10,1468212.12,3837938.27,1991,3,NRI01,1991-03-01,8.64,0.0227,0.1595,0.6930,-0.105847
4,53,1991-04-01,-0.031449,-0.031449,-0.079652,-0.079652,-0.050150,-0.050150,11,2508786.03,5763950.42,1991,4,NRI01,1991-04-01,8.64,0.0227,0.1595,0.6930,-0.086582
5,53,1991-04-01,-0.031449,-0.031449,-0.079652,-0.079652,-0.050150,-0.050150,11,2508786.03,5763950.42,1991,4,NRI01,1991-04-21,7.56,0.0200,0.1402,0.6092,-0.085744
6,53,1991-05-01,0.005375,0.005375,-0.074521,-0.074521,-0.037463,-0.037463,11,2321827.03,5548014.05,1991,5,NRI01,1991-05-01,7.56,0.0200,0.1402,0.6092,-0.080613
7,53,1991-06-01,0.035102,0.035102,-0.079348,-0.079348,-0.013921,-0.013921,12,2692877.08,6730880.54,1991,6,NRI01,1991-06-01,7.56,0.0200,0.1402,0.6092,-0.085440
8,53,1991-07-01,0.020188,0.020188,-0.082097,-0.082097,-0.038261,-0.038261,13,2597345.64,6695474.24,1991,7,NRI01,1991-07-01,7.56,0.0200,0.1402,0.6092,-0.088189
9,53,1991-08-01,0.033716,0.029998,-0.084185,-0.084381,0.000894,0.000818,13,2635294.34,7247109.35,1991,8,NRI01,1991-08-01,7.56,0.0200,0.1402,0.6092,-0.090473

In [36]:
# ret 月个股收益数据清洗，筛除 5 元以下的仙股，市值为负的股票（在 csmar 提取数据时已经去除了 st 股，金融股）
mon_ret = mon_ret[mon_ret['Mclsprc'] >= 5]
mon_ret = get_month(mon_ret,'Trdmnt') #获取股票月度收益时间
ret.head(10)

,Stkcd,Trdmnt,Opndt,Mopnprc,Clsdt,Mclsprc,Mnshrtrd,Mnvaltrd,Msmvosd,Msmvttl,Ndaytrd,Mretwd,Mretnd,Markettype,Capchgdt,Ahshrtrd_M,Ahvaltrd_M
0,2,1991-01,29,14.58,30,14.51,10000,145000.0,406280.00,598489.62,2,NaN,NaN,4,1991-01-29,NaN,NaN
1,2,1991-02,4,14.66,28,15.09,878500,11065000.0,422520.00,622412.70,13,0.039972,0.039972,4,1991-01-29,NaN,NaN
2,2,1991-03,1,15.01,29,13.18,174500,2996000.0,369040.00,543631.51,21,-0.126574,-0.126574,4,1991-01-29,NaN,NaN
3,2,1991-04,2,13.11,30,11.65,44500,560000.0,326200.00,480524.06,18,-0.116085,-0.116085,4,1991-01-29,NaN,NaN
4,2,1991-05,2,11.59,27,11.29,1550500,17972000.0,316120.00,465675.24,17,-0.030901,-0.030901,4,1991-01-29,NaN,NaN
5,2,1991-06,10,7.50,28,6.55,1626500,10941000.0,370194.03,504156.83,15,-0.303809,-0.303809,4,1991-06-08,NaN,NaN
6,2,1991-07,1,6.60,31,6.15,4955000,24981050.0,347586.76,473368.63,27,-0.061069,-0.061069,4,1991-06-08,NaN,NaN
7,2,1991-08,1,6.15,31,6.30,2725000,15601200.0,356064.49,484914.21,26,0.024390,0.024390,4,1991-06-08,NaN,NaN
8,2,1991-09,2,6.30,30,4.70,4362600,14893175.0,265635.41,361761.39,26,-0.253968,-0.253968,4,1991-06-08,NaN,NaN
9,2,1991-10,3,6.40,31,16.90,10678500,129485325.0,955157.12,1300801.60,25,2.595745,2.595745,4,1991-06-08,NaN,NaN

In [37]:
#计算月度超额收益
'''
**1997-2019月度数据
**全A股收益率（包含上证A，深A，科创板，创业板）
Trdmnt:股票收益时间
trdmn:无风险收益时间
'''
#ret = get_month(ret,'Trdmnt') #获取股票月度收益时间（月度还是日度）
#rf = get_month2(rf,'Trdmnt ') #从 ff4 中获取无风险收益的时间

#筛选1997-2023
def time(df,t1,t2):
    df = df[(df['year']>=t1)&(df['year']<=t2)]
    return df
mon_ret = time(mon_ret,1997,2023)
mon_mkt_rf = time(mon_mkt_rf,1997,2023)
#mkt_rf = mkt_rf['mkt_rf'] #多一步计算，将市场收益表和无风险收益表合并计算 mkt_rf，导入 ff4 表的原因也是要提取这一项
#ff.index = ff4['trdmn']

ret1.head(10)
#mkt_rf.head(10)

,Stkcd,Trdmnt,Opndt,Mopnprc,Clsdt,Mclsprc,Mnshrtrd,Mnvaltrd,Msmvosd,Msmvttl,Ndaytrd,Mretwd,Mretnd,Markettype,Capchgdt,Ahshrtrd_M,Ahvaltrd_M,year,month
72,2,1997-01-01,2,10.41,31,11.18,68823654,7.349675e+08,1935263.91,2753775.36,22,0.067813,0.067813,4,1996-08-06,NaN,NaN,1997,1
73,2,1997-02-01,17,10.06,28,11.18,42408599,4.509020e+08,1935263.91,2753775.36,10,0.000000,0.000000,4,1996-08-06,NaN,NaN,1997,2
74,2,1997-03-01,3,11.20,31,14.36,150672233,1.927915e+09,2485723.60,3537049.57,20,0.284436,0.284436,4,1996-08-06,NaN,NaN,1997,3
75,2,1997-04-01,1,14.40,30,20.28,241368647,4.115419e+09,3510478.73,4995220.42,22,0.412256,0.412256,4,1996-08-06,NaN,NaN,1997,4
76,2,1997-05-01,5,20.20,29,17.97,164431960,3.162778e+09,3110616.51,4426238.21,19,-0.113905,-0.113905,4,1996-08-06,NaN,NaN,1997,5
77,2,1997-06-01,2,19.00,27,21.09,250170331,5.351389e+09,4198293.71,5973943.72,20,0.355230,0.355231,4,1997-06-27,NaN,NaN,1997,6
78,2,1997-07-01,2,21.66,31,16.06,112805853,1.917419e+09,3952132.44,5624747.49,22,-0.111875,-0.103368,4,1997-07-14,NaN,NaN,1997,7
79,2,1997-08-01,1,16.10,29,12.75,46415387,6.363132e+08,3137589.58,4465475.12,21,-0.206102,-0.206102,4,1997-07-14,NaN,NaN,1997,8
80,2,1997-09-01,1,12.61,30,10.59,32705875,3.878256e+08,2606044.99,3708971.10,22,-0.169412,-0.169412,4,1997-07-14,NaN,NaN,1997,9
81,2,1997-10-01,6,10.60,31,14.88,154611034,2.206006e+09,3661751.60,5211472.14,20,0.405099,0.405099,4,1997-07-14,NaN,NaN,1997,10

In [39]:
#筛选A股，主板、科创板、创业板
def filt(df,x1,x2,x3,x4):
    #df = pd.merge(ret1,code,on = 'Stkcd')
    df = df[(df['Markettype'] == x1)|(df['Markettype'] == x2)|(df['Markettype'] == x3)|(df['Markettype'] == x4)]
    return df
mon_ret = filt(mon_ret,1,4,16,32) #筛选沪深 A 股，科创板和创业板股票

mon_ret.tail(10)

,Stkcd,Trdmnt,Opndt,Mopnprc,Clsdt,Mclsprc,Mnshrtrd,Mnvaltrd,Msmvosd,Msmvttl,Ndaytrd,Mretwd,Mretnd,Markettype,Capchgdt,Ahshrtrd_M,Ahvaltrd_M,year,month
707817,689009,2023-03-01,1,33.15,31,37.64,129042709,4.474909e+09,1926040.42,2689165.90,23,0.140606,0.140606,32,2023-01-18,0.0,0.00,2023,3
707818,689009,2023-04-01,3,37.80,28,33.44,111433381,3.962195e+09,1711126.24,2389099.57,19,-0.111583,-0.111583,32,2023-01-18,4956.0,180772.14,2023,4
707819,689009,2023-05-01,4,33.33,31,32.68,59973591,2.042039e+09,1672237.01,2341353.96,20,-0.022727,-0.022727,32,2023-05-26,0.0,0.00,2023,5
707820,689009,2023-06-01,1,33.59,30,36.85,277968504,1.033675e+10,1885616.08,2640113.02,20,0.127601,0.127601,32,2023-05-26,4176.0,157848.00,2023,6
707821,689009,2023-07-01,3,36.95,31,34.78,91726870,3.248509e+09,1779694.10,2491808.16,21,-0.056174,-0.056174,32,2023-05-26,3000.0,102930.00,2023,7
707822,689009,2023-08-01,1,34.70,31,33.41,82119197,2.663924e+09,1709591.14,2393654.71,23,-0.039390,-0.039390,32,2023-05-26,3656.0,123063.00,2023,8
707823,689009,2023-09-01,1,33.43,28,34.83,55140062,1.875026e+09,1785209.49,2498347.30,20,0.042502,0.042502,32,2023-09-19,6612.0,225729.00,2023,9
707824,689009,2023-10-01,9,34.83,31,32.79,37928804,1.261855e+09,1716476.36,2363191.30,17,-0.058570,-0.058570,32,2023-10-30,900.0,29144.00,2023,10
707825,689009,2023-11-01,1,32.74,30,33.10,105947972,3.609371e+09,1732704.10,2385533.15,22,0.009454,0.009454,32,2023-10-30,3775.0,124379.00,2023,11
707826,689009,2023-12-01,1,32.99,29,29.66,130745400,4.167113e+09,1552628.51,2137610.67,21,-0.103927,-0.103927,32,2023-10-30,5590.0,183272.00,2023,12

In [9]:
#合并收益率数据计算超额收益

def data(inx,col,value):
    temp = ff4[['year','month','mkt_rf','rf']]
    df = pd.merge(ret2,temp,on = ['year','month'])   #两个表因为交易时间问题，时间并不一致所以通过年份和月份进行合并 
    df['rt'] = df['Mretnd'] - df['rf']
    month_data = pd.pivot(df,index=inx,columns=col,values=value)
    month_data['month_num'] = (month_data.index.year-1997)*12+month_data.index.month   
    return month_data

In [40]:
temp = mon_mkt_rf[['year','month','mkt_rf','rf']] #提取数据
month_data = pd.merge(mon_ret,temp,on = ['year','month'])#合并数据表
month_data['rt'] = month_data['Mretnd'] - month_data['rf']/100 #注意 csmar 中的 rf 是百分数，不是小数，计算是要除100
#month_data.index = pd.to_datetime(month_data.index)
#month_data['month_num'] = (month_data.index.year-1997)*12+month_data.index.month  
month_data.head(10)

,Stkcd,Trdmnt,Opndt,Mopnprc,Clsdt,Mclsprc,Mnshrtrd,Mnvaltrd,Msmvosd,Msmvttl,...,Mretnd,Markettype,Capchgdt,Ahshrtrd_M,Ahvaltrd_M,year,month,mkt_rf,rf,rt
0,2,1997-01-01,2,10.41,31,11.18,68823654,7.349675e+08,1935263.91,2753775.36,...,0.067813,4,1996-08-06,NaN,NaN,1997,1,0.082079,0.6022,0.061791
1,4,1997-01-01,2,5.80,31,6.42,30721693,1.875644e+08,267437.89,539130.31,...,0.073579,4,1995-08-30,NaN,NaN,1997,1,0.082079,0.6022,0.067557
2,6,1997-01-01,2,13.51,31,14.92,50529771,7.347805e+08,1258562.34,2023451.50,...,0.097866,4,1995-07-11,NaN,NaN,1997,1,0.082079,0.6022,0.091844
3,7,1997-01-01,2,8.70,31,12.00,26455846,2.776315e+08,489605.93,883653.34,...,0.342282,4,1996-12-31,NaN,NaN,1997,1,0.082079,0.6022,0.336260
4,8,1997-01-01,2,5.90,31,7.08,39495888,2.716819e+08,249857.26,521464.71,...,0.176080,4,1996-09-05,NaN,NaN,1997,1,0.082079,0.6022,0.170058
5,9,1997-01-01,2,6.81,31,7.30,160609535,1.118950e+09,4228253.44,6999313.31,...,0.056440,4,1996-08-07,NaN,NaN,1997,1,0.082079,0.6022,0.050418
6,10,1997-01-01,2,7.34,31,8.00,27056834,2.067745e+08,152310.39,469204.80,...,0.075269,4,1996-07-22,NaN,NaN,1997,1,0.082079,0.6022,0.069247
7,11,1997-01-01,2,7.90,31,8.71,40025185,3.276398e+08,796018.22,4183760.21,...,0.087391,4,1996-08-20,NaN,NaN,1997,1,0.082079,0.6022,0.081369
8,12,1997-01-01,2,10.10,31,11.24,44780112,4.679304e+08,902329.05,3822329.54,...,0.098729,4,1996-12-31,NaN,NaN,1997,1,0.082079,0.6022,0.092707
9,14,1997-01-01,2,5.90,31,7.04,46977543,3.075126e+08,318351.27,631113.12,...,0.157895,4,1995-08-09,NaN,NaN,1997,1,0.082079,0.6022,0.151873

In [85]:
# month_data = month_data('Trdmnt','Stkcd','rt') #这一条实际上是自定义的函数 data，不过前面已经不使用这个函数了
# data1 = month_data.shift(-1) 
# reg = data1.T  #rt+1
# reg.columns = beta_1m.columns

In [43]:
##筛选日度数据
daily_ret = get_month(daily_ret,'Trddt')
daily_ret = time(daily_ret,1997,2023)
daily_ret = filt(daily_ret,1,4,16,32)
daily_ret['month_num'] = (daily_ret['year']-1997)*12 + daily_ret['month']

,Unnamed: 0,Stkcd,Trddt,Opnprc,Hiprc,Loprc,Clsprc,Dnshrtrd,Dnvaltrd,Dsmvosd,...,Ahshrtrd_D,Ahvaltrd_D,PreClosePrice,ChangeRatio,LimitDown,LimitUp,LimitStatus,year,month,month_num
0,0,2,1997-01-02,10.41,10.78,10.30,10.45,2919324,30568143.20,1808900.53,...,NaN,NaN,10.47,-0.001910,9.42,11.52,0.0,1997,1,1
1,1,2,1997-01-03,10.60,11.20,10.38,10.50,6157916,66558878.15,1817555.55,...,NaN,NaN,10.45,0.004785,9.41,11.50,0.0,1997,1,1
2,2,2,1997-01-06,10.40,10.50,9.90,9.90,2973721,30129517.64,1713695.24,...,NaN,NaN,10.50,-0.057143,9.45,11.55,0.0,1997,1,1
3,3,2,1997-01-07,9.70,10.44,9.36,10.24,3794509,38103638.09,1772549.42,...,NaN,NaN,9.90,0.034343,8.91,10.89,0.0,1997,1,1
4,4,2,1997-01-08,10.24,10.25,9.95,10.04,1845936,18558994.50,1737929.31,...,NaN,NaN,10.24,-0.019531,9.22,11.26,0.0,1997,1,1

In [45]:
daily_ret = daily_ret.rename(columns={'Trddt': 'date'})
daily_ret.head(10)

,Unnamed: 0,Stkcd,date,Opnprc,Hiprc,Loprc,Clsprc,Dnshrtrd,Dnvaltrd,Dsmvosd,...,Ahshrtrd_D,Ahvaltrd_D,PreClosePrice,ChangeRatio,LimitDown,LimitUp,LimitStatus,year,month,month_num
0,0,2,1997-01-02,10.41,10.78,10.30,10.45,2919324,30568143.20,1808900.53,...,NaN,NaN,10.47,-0.001910,9.42,11.52,0.0,1997,1,1
1,1,2,1997-01-03,10.60,11.20,10.38,10.50,6157916,66558878.15,1817555.55,...,NaN,NaN,10.45,0.004785,9.41,11.50,0.0,1997,1,1
2,2,2,1997-01-06,10.40,10.50,9.90,9.90,2973721,30129517.64,1713695.24,...,NaN,NaN,10.50,-0.057143,9.45,11.55,0.0,1997,1,1
3,3,2,1997-01-07,9.70,10.44,9.36,10.24,3794509,38103638.09,1772549.42,...,NaN,NaN,9.90,0.034343,8.91,10.89,0.0,1997,1,1
4,4,2,1997-01-08,10.24,10.25,9.95,10.04,1845936,18558994.50,1737929.31,...,NaN,NaN,10.24,-0.019531,9.22,11.26,0.0,1997,1,1
5,5,2,1997-01-09,10.10,10.45,10.10,10.29,2338071,24052645.76,1781204.44,...,NaN,NaN,10.04,0.024900,9.04,11.04,0.0,1997,1,1
6,6,2,1997-01-10,10.40,10.41,10.10,10.29,1889624,19433797.19,1781204.44,...,NaN,NaN,10.29,0.000000,9.26,11.32,0.0,1997,1,1
7,7,2,1997-01-13,10.45,10.50,10.30,10.41,2148719,22386630.89,1801976.51,...,NaN,NaN,10.29,0.011662,9.26,11.32,0.0,1997,1,1
8,8,2,1997-01-14,10.35,10.68,10.20,10.40,2490413,26081140.10,1800245.50,...,NaN,NaN,10.41,-0.000961,9.37,11.45,0.0,1997,1,1
9,9,2,1997-01-15,10.35,10.45,10.25,10.36,1410712,14605277.90,1793321.48,...,NaN,NaN,10.40,-0.003846,9.36,11.44,0.0,1997,1,1

In [46]:
##合并收益率数据与无风险利率
rf = rf.rename(columns={'Clsdt': 'date'})
rf['date'] =  pd.to_datetime(rf['date'])
rf = rf[['date','Nrrdaydt']]

daily_data = pd.merge(daily_ret,rf,on='date')
daily_data['rt'] = daily_data['Dretwd']-daily_data['Nrrdaydt']  #获得超额收益

In [51]:
full_data = pd.pivot(daily_data,index='date',columns='Stkcd',values='rt')
full_data['month_num'] = (full_data.index.year-1997)*12+full_data.index.month
# mktcap2 = mktcap['mkt']
# mktcap2.index = mktcap['date']

full_data.tail(10)

Stkcd,2,4,6,7,8,9,10,11,12,14,...,688788,688789,688793,688798,688799,688800,688819,688981,689009,month_num
date,,,,,,,,,,,,,,,,,,,,,
2023-12-18,-0.013598,-0.018503,-0.026787,-0.024280,-0.016395,-0.004200,-0.016622,-0.025431,-0.016813,-0.022960,...,-0.031687,-0.014019,-0.013765,-0.031640,-0.040778,-0.035718,-0.029218,-0.001588,-0.004200,324
2023-12-19,-0.019380,0.010310,-0.014704,-0.016495,-0.012430,-0.002483,-0.010489,-0.015046,-0.004200,-0.025813,...,0.015719,-0.022717,-0.001566,0.000163,0.021734,0.005693,-0.011789,0.014780,-0.015354,324
2023-12-20,-0.015761,-0.020887,-0.023308,-0.012499,-0.016648,-0.007628,-0.029516,-0.021744,-0.007850,-0.028839,...,-0.027689,0.000130,-0.024340,-0.016653,-0.002380,-0.015543,-0.018402,-0.008765,-0.015157,324
2023-12-21,0.011395,-0.001776,-0.004200,0.010444,-0.008402,-0.005060,0.018527,0.002496,0.006789,0.008866,...,0.012557,0.016843,-0.008966,-0.008159,0.003672,0.006230,0.017595,-0.003099,0.015676,324
2023-12-22,-0.008039,-0.037453,-0.034503,-0.004200,-0.012639,-0.001618,-0.020073,-0.018612,-0.006012,-0.027416,...,-0.019617,0.022039,-0.026948,-0.015977,-0.001797,-0.017103,0.001585,-0.000168,-0.011868,324
2023-12-25,-0.011907,-0.021711,-0.015361,-0.014509,-0.012711,-0.007633,-0.013877,-0.023323,-0.006015,-0.049975,...,0.000120,-0.002535,-0.004506,-0.006137,-0.038566,0.024297,-0.012827,-0.036688,-0.035752,324
2023-12-26,-0.016821,-0.029025,-0.020001,-0.012533,-0.008492,-0.011091,-0.017229,-0.020255,-0.020564,-0.022650,...,-0.032695,-0.023760,-0.025340,-0.033155,-0.037720,-0.025298,-0.003837,-0.026083,-0.078336,324
2023-12-27,-0.004200,0.018646,0.039378,0.000002,0.004421,0.004473,0.022203,0.005124,0.003194,0.008958,...,0.015169,0.008069,-0.010147,0.014706,0.022561,-0.032504,-0.017973,-0.003043,0.033143,324
2023-12-28,0.030215,0.002820,-0.004200,0.014628,0.000074,0.007838,-0.000985,0.011966,0.017818,0.013425,...,0.019416,-0.023711,0.015007,0.017070,-0.019838,0.051920,0.021526,0.019302,0.006530,324
2023-12-29,-0.009903,0.017980,0.004591,-0.004200,0.000055,-0.006749,0.015031,0.002618,-0.004200,-0.000554,...,0.021523,-0.000079,0.035343,0.015445,0.032445,0.012500,-0.003842,-0.006270,0.011553,324

In [ ]:
def beta_calculator(data,factor,span,low_limit):
    '''
    用来计算beta的表格函数，输出是某一种计算方式的beta的表格。
    
    输入参数
    ----------
    data是以month_num为columns，code为index，rt为value
    span是每次回归跨度月份数，一年为12
    low_limit是计算beta的最低样本数（天数），一个月为10，三个月为50等
    输出
    -------
    index为股票代码，columns为月份编号，value为对应规则算出beta 的df
    '''
    X = pd.DataFrame()
    for i in range(max(data['month_num'])-span+1):
        same_time_data = data[(data['month_num']>i)&(data['month_num']<=i+span)]
        same_time = []
        code_list = list(same_time_data.columns[:-1])
        for code in code_list:
            temp_data = same_time_data[code]
            temp_data.name = 'rt'
            reg_data = pd.concat([temp_data,factor],axis=1,join='inner')
            if reg_data['rt'].notna().sum() >= low_limit:
                model = smf.ols('rt~mkt_rf',reg_data,missing='drop').fit()
                beta = model.params[1]
            else:
                beta = np.nan
            same_time.append(beta)
        same_time = pd.Series(same_time,index = code_list,name = i+span)
        X = pd.concat([X,same_time],axis=1)
    return X

beta_1m = beta_calculator(full_data,mktcap2,1,10)
beta_3m = beta_calculator(full_data,mktcap2,3,50)
beta_6m = beta_calculator(full_data,mktcap2,6,100)
beta_12m = beta_calculator(full_data,mktcap2,12,200)
beta_24m = beta_calculator(full_data,mktcap2,24,450)
beta_1y = beta_calculator(month_data,ff,12,10)
beta_2y = beta_calculator(month_data,ff,24,20)
beta_3y = beta_calculator(month_data,ff,36,24)
beta_5y = beta_calculator(month_data,ff,60,24)